<br>
<h1>Activity</h1>
<ul>
  <li>오코완 스터디</li>
    <ul>
      <li>2024.01 ~ (현재)</li>
      <li>오늘도 코딩 완료. 매일 알고리즘 문제 한문제 풀기 챌린지 진행</li>
    </ul>
  <li>희망한대</li>
    <ul>
      <li>2023.03 - 2024.02</li>
      <li>교내 봉사단원으로 활동. 봉사 기획 및 진행</li>
    </ul>
</ul>

<br>
<h1>Education</h1>
<ul>
  <li>한양대학교 ERICA | 2022.03 ~ 2026.02(예정)</li>
  <ul>
    <li>컴퓨터학부</li>
  </ul>
  <li>EM Normandie Campus de Paris | 2023.07</li>
  <ul>
    <li>strategic management 수강</li>
  </ul>
</ul>

<br>
<h1>Contact</h1>
<p>
  <a href="mailto:jepark2934@gmail.com"><img src="https://img.shields.io/badge/Gmail-D14836?style=for-the-badge&logo=gmail&logoColor=white" alt="Gmail" /></a>
  <a href="https://rec0de.tistory.com"><img src="https://img.shields.io/badge/Tistory-FF5722?style=for-the-badge&logo=tistory&logoColor=white" alt="Tistory" /></a>
  <a href="https://github.com/je0ng3"><img src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white" alt="GitHub" /></a>
</p>
<ul>
  <li>Phone: 010-2663-2934</li>
  <li>Email: <a href="mailto:jepark2934@gmail.com">jepark2934@gmail.com</a></li>
  <li>Blog: <a href="https://rec0de.tistory.com">https://rec0de.tistory.com/</a></li>
  <li>GitHub: <a href="https://github.com/je0ng3">https://github.com/je0ng3</a></li>
</ul>